[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
unidecode = "*"
discord = "*"
enum34 = "*"
python-dotenv = "*"
discord-py-slash-command = "*"
discord-py-interactions = "*"

[dev-packages]

[requires]
python_version = "3.7"
